<header id="header">
  <div class="row">
    <div id="logo" class="col-xs-5">
      <a href="#">Matt Swieboda</a>
      <!-- Stack Overflow -->
      <a href="http://stackoverflow.com/users/1183537/suckerformayhem">
      <img src="http://stackoverflow.com/users/flair/1183537.png?theme=dark" width="208" height="58" alt="profile for SuckerForMayhem at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for SuckerForMayhem at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
    </div>
    <div class="col-xs-2">
      <div class="content">
<pre>
PLEASE NOTE
W I P
</pre>
      </div>
    </div>
    <div class="col-xs-5">
      <nav id="nav">
        <div class="click-these">click these</div>
        <ul>
          <li><a href="#slide1" class="slide active">Me</a></li>
          <li><a href="#slide2" class="slide">Work</a></li>
          <li><a href="#slide3" class="slide">Other</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Gihub Fork Me Banner -->
  <a href="https://github.com/mswieboda"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
</header>


<div id="slide1">
  <div class="row">
    <div class="col-xs-4">
      <div id="twitter">
        <!-- Twitter Timeline -->
        <a class="twitter-timeline" href="https://twitter.com/stuckpunk" data-widget-id="456162058464014337">Tweets by @stuckpunk</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="content col-xs-4">
      <h1>[matt]</h1>
      <p>alt punk rock shows. amateur guitarist. web dev coder. ChiTown sports.
Chicago, IL</p>
      <p>&nbsp;</p>
      <p>Aspiring Ruby on Rails Rockstar, JavaScript Ninja, and CSS Wizkid</p>
    </div>
  </div>

</div>

<div id="slide2">
  <div class="content">
    <h1>[side work stuff]</h1>
    <div>
      <a href="http://www.chatbck.com"><h3>ChatBck</h3></a>
      <p>iOS app in App Store</p>
    </div>
    <div>
      <a href="http://www.tabster.stuckpunk.com"><h3>Tabster</h3></a>
      <p>Guitar tablature web/mobile app</p>
      <p>WIP, to know more: <a href="http://vooza.com/videos/nda-sponsored-by-name-com/">NDA NDA NDA</a></p>
    </div>
    <div>
      <a href="http://www.stuckpunk.com"><h3>StuckPunk.com</h3></a>
      <p>Once you're punk, you never go back.</p>
      <p>Working tag line, and a WIP revitalizaiton of a high school site (RIP)</p>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="row">
    <div class="col-xs-4">
      <!-- Last.fm tag cloud -->
      <h3 style="text-align: center;">Genre Tag Cloud</h3>
      <a href="http://www.last.fm/user/SuckerForMayhem/library/tags?view=list&amp;sortOrder=desc&amp;sortBy=taggedcount"><img style="background-color: #A6FF53;" src="http://lastfm.dontdrinkandroot.net/tools/user/tagcloud/SuckerForMayhem/overall/upper_thumb.png"></a>
    </div>
    <div class="content col-xs-4">
      <h1>[misc other stuff]</h1>
      <p>Sucker(s) For Mayhem releases WIP, probs via <a href="https://soundcloud.com">SoundCloud</a>, <a href="http://bandcamp.com">bandcamp</a>, <a href="http://last.fm">Last.fm</a> etc</p>
    </div>
  </div>
</div>

<script>
$(function() {
  $('a.slide').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        && location.hostname == this.hostname
        && this.hash.replace(/#/,'')) {
      // Find the anchor from id or name
      var $targetId = $(this.hash),
          $targetAnchor = $('[name=' + this.hash.slice(1) + ']'),
          $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;

      if ($target) {
        var targetOffset = $target.offset().top;

        $(this).click(function() {
          $('#nav li a').removeClass('active');
          $(this).addClass('active');
          $('html, body').animate({scrollTop: targetOffset}, 600);
          return false;
        });
      }
    }
  });

  $("#nav .click-these").fadeIn(500, function() {
    $(this).delay(3000).fadeOut(500);
  });

  $("#nav").hover(function() {
    var $clickThese = $(this).find(".click-these");

    if ($clickThese.is(":visible")) {
      console.log("test");
      $clickThese.dequeue().fadeOut(500);
    }
  })
});
</script>