<header id="header">
  <div class="row">
    <div id="logo" class="col-xs-6">
      <a href="#">Matt Swieboda</a>
      <!-- Stack Overflow -->
      <a href="http://stackoverflow.com/users/1183537/suckerformayhem">
      <img src="http://stackoverflow.com/users/flair/1183537.png?theme=dark" width="208" height="58" alt="profile for SuckerForMayhem at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for SuckerForMayhem at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
    </div>
    <div class="col-xs-6">
      <nav id="nav">
        <ul>
          <li><a href="#slide1" class="slide active">Me</a></li>
          <li><a href="#slide2" class="slide">Work</a></li>
          <li><a href="#slide3" class="slide">Other</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Gihub Fork Me Banner -->
  <a href="https://github.com/mswieboda"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
</header>


<div id="slide1">
  <div class="row">
    <div class="col-xs-4">
      <div id="twitter">
        <!-- Twitter Timeline -->
        <a class="twitter-timeline" href="https://twitter.com/stuckpunk" data-widget-id="456162058464014337">Tweets by @stuckpunk</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="content col-xs-4">
      [about me]
    </div>
  </div>

</div>

<div id="slide2">
  <div class="content">
    [list and examples]
  </div>
</div>

<div id="slide3">
  <div class="row">
    <div class="col-xs-4">
      <!-- Last.fm tag cloud -->
      <h3 style="text-align: center;">Genre Tag Cloud</h3>
      <a href="http://www.last.fm/user/SuckerForMayhem/library/tags?view=list&amp;sortOrder=desc&amp;sortBy=taggedcount"><img style="background-color: #A6FF53;" src="http://lastfm.dontdrinkandroot.net/tools/user/tagcloud/SuckerForMayhem/overall/upper_thumb.png"></a>
    </div>
    <div class="content col-xs-4">
      [more stuff here]
    </div>
  </div>
</div>

<script>
$(function() {
  $('a.slide').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        && location.hostname == this.hostname
        && this.hash.replace(/#/,'')) {
      // Find the anchor from id or name
      var $targetId = $(this.hash),
          $targetAnchor = $('[name=' + this.hash.slice(1) + ']'),
          $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;

      if ($target) {
        var targetOffset = $target.offset().top;

        $(this).click(function() {
          $('#nav li a').removeClass('active');
          $(this).addClass('active');
          $('html, body').animate({scrollTop: targetOffset}, 600);
          return false;
        });
      }
    }
  });
});
</script>