// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  font-family: sans-serif;
  background: #000;
}

#header {
  width: 100%;
  position: fixed;
  margin-top: 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

#logo a {
  padding-right: 30px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

#nav {
  float: right;
  position: relative;
  margin-top: 16px;
  margin-right: 120px;
}

#nav .click-these {
  position: absolute;
  top: -25px;
  left: 110px;
  color: #ccff66;
  display: none;
}

#nav ul{
  list-style: none;
  display: block;
  margin: 0;
}

#nav li{
  float: left;
  padding-left: 30px;
}

#nav li a {
  font-size: 16px;
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
}

#nav li a.active {
  border-bottom: 2px solid #ccff66;
}

#nav li a:hover {
  color: #ccff66;
  border-bottom: 2px solid #ccff66;
}

.content {
  text-align: center;
}

#twitter {
  margin-left: 30px;
}

// #christmas_tree {
//   background: url('../img/christmas-tree.png') no-repeat;
//   width: 48px;
//   height: 77px;
//   margin: 0 auto;
//   position: relative;
//   bottom: 35px;
// }

#slide1, #slide2 {
  width: 100%;
}

#slide1 {
  height: 800px;
  margin: 0;
  padding: 200px 0 350px 0;
  background-color: #333;
  color: #ccff66;
}

#slide2 {
  background-color: #fff;
  color: #333333;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;

  .twitter {
    float: left;
  }
}

#slide3 {
  color: #fff;
  // height: 800px;
  padding: 120px;
}